/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-Apr-2019, 3:02:32 PM
    Author     : owner
*/
.root {
    -fx-background-color: #5b77a3;
}

.label {
    -fx-text-fill: white;
}

.MenuBar {
    -fx-text-fill: black;
}

.AnchorPane {
    -fx-background-color: #5b77a3;
}

.GridPane {
    -fx-background-color: #5b77a3;
}

.BorderPane {
    -fx-background-color: #5b77a3;
}

.first {
    -fx-font-size: 26px;
}

.second {
    -fx-font-size: 20px;
}

.third {
    -fx-font-size: 11px;
}